*{
	box-sizing: border-box;
	/*font-size: 0;*/
}

h1 {
    font-size: 2.5em; /* 40px/16=2.5em */
}

h2 {
    font-size: 1.875em; /* 30px/16=1.875em */
}

p {
    font-size: 0.875em; /* 14px/16=0.875em */
}

#pageHeader{
	width:100%;
	background: #333;
	text-align: left;
	/*padding: .5em;*/

}

#headerContent{
	vertical-align: center;
	margin: auto;
	width: 90%;
}

.logo{
	max-width: 100%;
	width: 3em;
	height: 3em;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /*background-image: url('searchicon.png');*/
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 5px 2px 5px 2px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

#page{
	margin: auto;
	width: 100%;
	vertical-align: center;
}

.profileContainer{
	padding: 1em;
	width: 30%;
	display: inline-block;
	margin: 2em;
	vertical-align: top;
}
.repoContainer{
	padding: 1em;
	width: 60%;
	display: inline-block;
	margin: 2em;
	vertical-align: top;
}

.repoName{
	font-size: 150%;
	font-family: 'Cabin', sans-serif;
}
.userName{
	font-size: 150%;
	font-family: 'Cabin', sans-serif;
}
.fullName{
	font-size: 200%;
	font-family: 'Cabin', sans-serif;
}
p{
	font-size: 100%;
	font-family: 'Fira Sans', sans-serif;
}



